@import "../../../mixins.scss";

.heroSection {
  height: calc(100vh - 100px);
  position: relative;
  overflow: hidden;

  // .imageContainer {
  //   position: absolute;
  //   right: -60px;
  //   top: 0;
  //   width: 50%;
  //   height: 100%;

  //   @include sm {
  //     right: -10px;
  //     top: 30px;
  //     width: 50%;
  //     height: 80%;
  //   }

  //   img {
  //     width: 100%;
  //     height: 100%;
  //   }
  // }

  .content {
    width: 100%;
    padding: 100px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    text-align: center;

    @include sm {
      padding: 50px 50px;
      gap: 30px;
    }

    .name {
      font-size: 70px;
      width: 100%;
      color: #fff;
      font-weight: bold;
      text-shadow: 15px 15px 10px rgba(0, 0, 0, 0.6);

      @include sm {
        font-size: 40px;
      }
    }

    .proffession {
      font-size: 80px;
      color: #fff;
      line-height: 40px;
      opacity: 0.8;
      text-shadow: 15px 15px 10px rgba(0, 0, 0, 0.8);

      @include sm {
        font-size: 50px;
        line-height: 60px;
      }
    }

    .buttons {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;

      button {
        border: none;
        outline: none;
        background-color: #fff;
        color: #359381;
        padding: 10px 20px;
        border-radius: 40px;
        font-size: 20px;
        cursor: pointer;
        font-weight: 600;
        transition: all ease 0.3s;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);

        @include sm {
          font-size: 15px;
        }

        &:hover {
          box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.6);
          scale: 1.1;
        }
      }

      .contactButton {
        color: #fff;
        background-color: #003329;
      }
    }

    .scrollButton {
      width: 100%;
      margin-top: 20px;
      cursor: pointer;

      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}
