@import "../../mixins.scss";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 200px;
  height: 100px;

  @include sm {
    margin-left: 120px;
    margin-right: 30px;
  }

  .name {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 30px;

    @include sm {
      gap: 20px;
    }

    svg {
      font-size: 30px;
    }
  }
}
